*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
}

#wrapper{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding-top: 100px;
    font-family: sans-serif;
    background-color: rgba(210, 105, 30, 0.606);
    width: 400px;
    height: 400px;
    margin-left: 450px;
    margin-top: 100px;
    box-shadow: 2px solid green;
    border-radius: 10px;
}
